#billing-page .MuiOutlinedInput-input {
    padding: 6px 12px;
}

#billing-page .MuiOutlinedInput-multiline {
    padding: 0;
    width: 400px;
}

#billing-page .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 6px;
}

#billing-page .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
    padding: 0 4px;
}

#billing-page .total-amount {
    display: flex;
    justify-content: flex-end;
}

#billing-page #payment-gateway-option {
    display: flex;
}

#billing-page #payment-gateway-option>div {
    display: flex;
    flex-direction: column;
}

#billing-page #payment-gateway-option>div img {
    width: 200px;
    height: 180px;
}

#billing-page .flex {
    display: flex;
}

#billing-page .form-control {
    display: flex;
    flex-direction: column;
}

#billing-page .form-control label {
    font-weight: 500;
    padding-bottom: 5px;
    color: #00000066;
}