.material-icons,
.MuiSvgIcon-root {
    color: blue;
}

.MuiFormControl-root,
.MuiInputBase-root {
    width: 200px;
}

.MuiInputBase-input {
    padding: 8px !important;
}

.MuiTableCell-root {
    padding: 3px 8px 3px 0px !important;
    height: 35px !important;
}

.child-table {
    border-left: 10px solid blue;
}

tr.MuiTableRow-root td:first-child {
    padding-left: 20px !important;
}

.h-33 {
    height: 33px;
}

.MuiTableRow-root.selected, .MuiTableRow-root.selected:hover {
    border: 2px solid #4aabff85 !important;
    background: #cee8ff85;
}
